{%- set systems = {"yuv": ["linear", "cl", "ictcp"]} %}
{%- set shapes = {"ictcp": ["pq", "hlg"]} %}
{%- set chains = {
    "curve": [["same", "any"], ["convert", "sdr"], ["convert", "hdr"]],
    "identity": [["same", "any"]],
    "log": [["convert", "sdr"], ["convert", "hdr"]],
    "pq": [["convert", "sdr"], ["same", "hdr"], ["convert", "hdr"]],
    "hlg": [["convert", "sdr"], ["same", "hdr"], ["convert", "hdr"]],
} %}
{%- set matrices = {
    0: {"system": "linear", "toSignal": [[0, 0, 1], [1, 0, 0], [0, 1, 0]]},
    1: {"system": "linear", "weights": [0.2126, 0.0722]},
    2: {"system": "linear", "weights": "unspecified"},
    4: {"system": "linear", "weights": [0.30, 0.11]},
    5: {"system": "linear", "weights": [0.299, 0.114]},
    6: {"system": "linear", "weights": [0.299, 0.114]},
    7: {"system": "linear", "weights": [0.212, 0.087]},
    8: {"system": "linear", "toSignal": [[1, -1, 1], [1, 1, 0], [1, -1, -1]]},
    9: {"system": "linear", "weights": [0.2627, 0.0593]},
    10: {"system": "cl", "weights": [0.2627, 0.0593]},
    11: {"system": "linear", "toSignal": [[0.991902, 0, 2], [1, 0, 0], [1 / 0.986566, 2 / 0.986566, 0]]},
    12: {"system": "linear", "weights": "primaries"},
    13: {"system": "cl", "weights": "primaries"},
    14: {"system": "ictcp"},
    16: {"system": "linear", "toSignal": [[1, -0.5, 0.5], [1, 0.5, 0], [1, -0.5, -0.5]], "lumaBits": 2},
    17: {"system": "linear", "toSignal": [[1, -0.5, 0.5], [1, 0.5, 0], [1, -0.5, -0.5]], "lumaBits": 1},
} %}
{%- set power = {2.2: [[1, 2.2, 1, 0, 0]], 2.4: [[1, 2.4, 1, 0, 0]], 2.8: [[1, 2.8, 1, 0, 0]]} %}
{%- set bt709 = 1.099296826809442 %}
{%- set bt709Toe = 0.018053968510807 %}
{%- set curves = {
    "bt709": [[bt709, 0.45, 1, 0, bt709 - 1], [4.5, 1, 1, 0, 0], bt709Toe],
    "bt709Inverse": [[1, 1 / 0.45, 1 / bt709, (bt709 - 1) / bt709, 0], [1, 1, 1 / 4.5, 0, 0], 4.5 * bt709Toe],
    "smpte240": [[1.1115, 0.45, 1, 0, 0.1115], [4, 1, 1, 0, 0], 0.0228],
    "smpte240Inverse": [[1, 1 / 0.45, 1 / 1.1115, 0.1115 / 1.1115, 0], [1, 1, 0.25, 0, 0], 4 * 0.0228],
    "srgb": [[1.055, 1 / 2.4, 1, 0, 0.055], [12.92, 1, 1, 0, 0], 0.0031308],
    "srgbInverse": [[1, 2.4, 1 / 1.055, 0.055 / 1.055, 0], [1, 1, 1 / 12.92, 0, 0], 0.04045],
    "dci": [[1, 1 / 2.6, 48 / 52.37, 0, 0]],
    "dciInverse": [[52.37 / 48, 2.6, 1, 0, 0]],
    "linear": [[1, 1, 1, 0, 0]],
    "root22": [[1, 1 / 2.2, 1, 0, 0]],
    "root28": [[1, 1 / 2.8, 1, 0, 0]],
} %}
{%- set bt1886 = {"shape": "curve", "eotf": power[2.4], "oetf": curves.bt709, "inverse": curves.bt709Inverse} %}
{%- set transfers = {
    1: bt1886, 2: bt1886, 6: bt1886, 11: bt1886, 12: bt1886, 14: bt1886, 15: bt1886,
    4: {"shape": "curve", "eotf": power[2.2], "oetf": curves.root22, "inverse": power[2.2]},
    5: {"shape": "curve", "eotf": power[2.8], "oetf": curves.root28, "inverse": power[2.8]},
    7: {"shape": "curve", "eotf": power[2.4], "oetf": curves.smpte240, "inverse": curves.smpte240Inverse},
    8: {"shape": "curve", "eotf": curves.linear, "oetf": curves.linear, "inverse": curves.linear},
    9: {"shape": "log", "decades": 2},
    10: {"shape": "log", "decades": 2.5},
    13: {"shape": "curve", "eotf": curves.srgbInverse, "oetf": curves.srgb, "inverse": curves.srgbInverse},
    16: {"shape": "pq"},
    17: {"shape": "curve", "eotf": curves.dciInverse, "oetf": curves.dci, "inverse": curves.dciInverse},
    18: {"shape": "hlg"},
} %}
{%- set primaries = {
    1: [0.640, 0.330, 0.300, 0.600, 0.150, 0.060, 0.3127, 0.3290],
    2: [0.640, 0.330, 0.300, 0.600, 0.150, 0.060, 0.3127, 0.3290],
    4: [0.670, 0.330, 0.210, 0.710, 0.140, 0.080, 0.3100, 0.3160],
    5: [0.640, 0.330, 0.290, 0.600, 0.150, 0.060, 0.3127, 0.3290],
    6: [0.630, 0.340, 0.310, 0.595, 0.155, 0.070, 0.3127, 0.3290],
    7: [0.630, 0.340, 0.310, 0.595, 0.155, 0.070, 0.3127, 0.3290],
    8: [0.681, 0.319, 0.243, 0.692, 0.145, 0.049, 0.3100, 0.3160],
    9: [0.708, 0.292, 0.170, 0.797, 0.131, 0.046, 0.3127, 0.3290],
    10: "xyz",
    11: [0.680, 0.320, 0.265, 0.690, 0.150, 0.060, 0.3140, 0.3510],
    12: [0.680, 0.320, 0.265, 0.690, 0.150, 0.060, 0.3127, 0.3290],
    22: [0.630, 0.340, 0.295, 0.605, 0.155, 0.077, 0.3127, 0.3290],
} %}
{%- set outputs = {"sdr": 1, "hdr": 9} %}
{%- set ranges = [0, 1, 2] %}
{%- set locations = {0: [0, 0.5], 1: [0, 0.5], 2: [0.5, 0.5], 3: [0, 0], 4: [0.5, 0], 5: [0, 1], 6: [0.5, 1]} %}
